<!DOCTYPE html>
<html>
<head>
	<title>Korea vs Korea</title>
</head>
<body>
 <h1>Bienvenido a Korea vs Korea</h1>
 <h1>Seleccionar las coordenadas de su Barco</h1>
 <form method="post" action="/batalla">
 <h3>Coordenada X</h3>
 	<input type="text" name="PX">
 	<h3>Coordenada Y</h3>
 	<input type="text" name="PY">
 	<br>
 	<button type="submit" value="Posicionar">Posicionar</button>
 </form>
</body>
</html>