<!DOCTYPE html>
<html>
<head>
	<title>Korea vs Korea</title>
</head>`
<body>
 <h1>Bienvenido a Korea vs Korea</h1>
 <form method="post" action="/barco">
 	<button type="submit" value="Iniciar" >Iniciar</button>	
 </form>
</body>
</html>